################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Module-1/CalculatorPart1.py
/Module-1/CalculatorPart2.py
